<div class="row">
    <div class="col-xs 12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="example-form">
            <h2>Enter a new recipe</h2>
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input
                            matInput
                            type="text"
                            id="name"
                            formControlName="name"
                            placeholder="E.g. Pizza">
                        <mat-hint>Give your recipe an explanatory name.</mat-hint>       
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Image URL</mat-label>
                        <input
                            matInput
                            type="text"
                            id="imagePath"
                            formControlName="imagePath"
                            placeholder="E.g. http://www.example.com/recipeImage.jpg"
                            #imagePath>
                        <mat-hint>Link to an image of the recipe stored elsewhere on the web.</mat-hint>
                    </mat-form-field> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea
                                matInput
                                type="text"
                                id="description"
                                formControlName="description"
                                rows="6"
                                placeholder="Describe your receipe">
                            </textarea>
                            <mat-hint>Give a good detailed description of your recipe.</mat-hint> 
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row">
                        <div class="col-xs-12">
                            <button
                                mat-raised-button
                                color="primary"
                                type="button"
                                class="btn btn-success"
                                (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                    <div 
                        class="row"
                        *ngFor="let ingredientCtrl of controls; let i= index"
                        [formGroupName]="i"
                        style="margin-top: 10px">
                        <div class="col-xs-8">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Ingredient</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    formControlName="name">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Qty</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    class="example-right-align"
                                    formControlName="amount">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-2">
                            <button
                                mat-raised-button
                                color="warn"
                                type="button"
                                (click)="onDeleteIngredient(i)">
                                <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-button-row">
                <div class="col-xs-12">
                    <button
                        type="submit"
                        mat-raised-button
                        color="accent"
                        [disabled]="!recipeForm.valid">Save</button>
                    <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)=onCancel()>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>