<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div> -->
        <app-alert [message]="error" *ngIf="error"></app-alert>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <!-- <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                />
            </div> -->
            <mat-form-field class="example-full-width"  appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput placeholder="e.g. my.name@email.com"
                    type="email"
                    id="email"
                    ngModel
                    name="email"
                    required
                    email
                >
            </mat-form-field>
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    ngModel
                    required
                    minlength="6"
                />
            </div> -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    id="password"
                    name="password"
                    ngModel
                    required
                    minlength="6"
                >
                <button
                    mat-icon-button matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div>
                <button
                    mat-raised-button color="primary"
                    type="submit"
                    [disabled]="!authForm.valid">
                    {{ isLoginMode ? 'Login' : 'Sign Up' }}
                </button>
                |
                <button
                    mat-raised-button color="accent"
                    type="button"
                    (click)=onSwitchMode()>
                    Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
            </div>
        </form>
    </div>
</div>