.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.nicepng.com/png/full/214-2148603_you-eat-ready-to-eat-food-icon.png');
    background-size: cover;
  }