/* Add application styles & imports to this file! */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mat-recipebook-primary: (
    50 : #f4faf4,
    100 : #e4f3e5,
    200 : #d2ebd3,
    300 : #c0e2c1,
    400 : #b3dcb4,
    500 : #a5d6a7,
    600 : #9dd19f,
    700 : #93cc96,
    800 : #8ac68c,
    900 : #79bc7c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d9ffda,
    A700 : #bfffc2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$mat-recipebook-accent: (
    50 : #e4fcf6,
    100 : #bbf8e9,
    200 : #8ef4db,
    300 : #61f0cc,
    400 : #3fecc1,
    500 : #1de9b6,
    600 : #1ae6af,
    700 : #15e3a6,
    800 : #11df9e,
    900 : #0ad98e,
    A100 : #ffffff,
    A200 : #d0ffec,
    A400 : #9dffd8,
    A700 : #84ffce,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$primary: mat-palette($mat-recipebook-primary);
$accent: mat-palette($mat-recipebook-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

